@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,200;1,700&display=swap");
.Loyal-title {
  font-family: "Bree Serif", serif;
  font-weight: bold;
  text-shadow: 2px 2px 3px brown;
  font-size: 35px;
  color: #ef4b4c;
}

.Loyal-title:hover {
  -webkit-transition: 1000ms;
  transition: 1000ms;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #ef4b4c;
  text-shadow: 2px 2px 3px #dddada;
}

.nav-link-fonts {
  font-family: "Source Serif Pro", serif;
  font-weight: bold;
  font-size: 16px;
  color: #e9e9eb;
  margin: 5px 20px;
  padding: 2px;
}

.nav-link-fonts:hover {
  color: #ef4b4c;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

.Loyal-footer-title {
  font-family: "Bree Serif", serif;
  font-weight: bold;
  text-shadow: 1px 1px 1px brown;
  font-size: 30px;
  color: #ef4b4c;
  -webkit-transition: -webkit-transform ease 0.3s;
  transition: -webkit-transform ease 0.3s;
  transition: transform ease 0.3s;
  transition: transform ease 0.3s, -webkit-transform ease 0.3s;
}

.Loyal-footer-title:hover {
  -webkit-transition: 1000ms;
  transition: 1000ms;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #ef4b4c;
}

.L-tit1 {
  font-size: 50px;
  font-family: "Bree Serif", serif;
}

.L-tit2 {
  font-size: 30px;
  font-family: "Bree Serif", serif;
  color: #e9e9eb;
  text-shadow: 1px 1px 2px #3a4054;
}

.L-tit2:hover {
  color: #ef4b4c;
  -webkit-transition: 1000ms;
  transition: 1000ms;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  text-shadow: 1px 2px 4px #e9e9eb;
}

.L-tit3 {
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.footer-fonts a {
  font-family: "Source Serif Pro", serif;
  font-weight: bold;
  font-size: 16px;
  color: #e9e9eb;
  margin: 10px 10px;
  padding: 5px;
}

.footer-fonts:hover a {
  color: #ef4b4c;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

.pg-cont-title {
  text-align: center;
  margin-top: -20px;
  margin-bottom: 23px;
  padding: 10px;
  background-color: #aac9ce;
  border-color: #aac9ce;
  border-radius: 5px;
}
.pg-cont-title h2 {
  color: #ef4b4c;
  font-family: "Bree Serif", serif;
  border-bottom: 1px solid #ef4b4c;
  padding: 5px;
}

.botn {
  display: inline-block;
  font-family: "Source Serif Pro", serif;
  font-weight: bold;
  line-height: 1.5;
  color: #dc3545;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 14px;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.botn-donate {
  color: #5fbf7f;
  border-color: #5fbf7f;
}

.botn-donate:hover {
  color: #f5ebde;
  border-color: #5fbf7f;
  background-color: #5fbf7f;
}

.lib-sem {
  color: #355c7d;
  border-color: #355c7d;
  width: 500px;
}

.lib-sem:hover {
  color: #f5ebde;
  border-color: #355c7d;
  background-color: #355c7d;
}

.botn-link {
  color: #ff7582;
  border-color: #ff7582;
}

.botn-link:hover {
  color: #f5ebde;
  border-color: #ff7582;
  background-color: #ff7582;
}

.botn-menu {
  color: #315449;
  border-color: #315449;
}

.botn-menu:hover {
  color: #f5ebde;
  border-color: #315449;
  background-color: #315449;
}

.footer-title {
  margin-top: 2px;
  border-top: 2px solid #aac9ce;
  border-bottom: 2px solid #aac9ce;
  padding: 10px 0;
}

.copy {
  border-top: 2px solid #aac9ce;
}

.social {
  border-left: 2px solid #aac9ce;
  border-right: 2px solid #aac9ce;
}

.loyal-main {
  background-size: cover;
  background-color: #aac9ce;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  background-position: center;
}

.pg-title {
  margin: 50px 10px;
  padding: 15px;
}
.pg-title h1 {
  font-family: "Bree Serif", serif;
  color: #ef4b4c;
}

.contant {
  background-color: #b6b4c2;
  height: 200px;
}

.cnt-card {
  margin-top: -25px;
}

.img {
  max-width: 100%;
  height: auto;
  padding-left: 20px;
  padding: 8px;
}

.see-botn {
  margin: 10px;
  text-align: center;
}

.second-contant {
  background-color: #f3dbcf;
}

.library-free-main {
  background-color: #f4bbbb;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  width: 100%;
}

.lb-title {
  padding: 30px;
  text-align: center;
}

.library-free-contant {
  padding-bottom: 20px;
}

.l-banner {
  background-color: #aadfe6;
  border: 1px solid #919191;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

.lb-menu {
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
  border-bottom: 2px solid #315449;
  border-top: 2px solid #315449;
}
.lb-menu ul {
  display: inline;
}
.lb-menu li {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  margin-left: 5px;
  padding: 5px;
}

.lb-pagination {
  margin: 5px;
  padding: 8px;
}

.prayer-main {
  background-color: #69f0c5;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  width: 100%;
}

.py-title {
  padding: 30px;
  text-align: center;
}